<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Notes</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <div class="float-sm-right">
          <%= link_to(new_note_path, class:"btn bg-lime") do %>
            <i class="fas fa-plus"></i> add
          <%end%>
          <%= link_to(notes_download_all_path, class:"btn bg-primary", 
              title:"Download ALL your notes in ONE file.") do %>
            <i class="fas fa-download"></i>
          <%end%>
          <%= link_to(notes_download_separately_path, class:"btn bg-danger",
              title:"Download ALL your notes in SEPARATE files.",
              data: { confirm: 'Are you sure? This will download lots of files!' }) do %>
            <i class="fas fa-download"></i>
          <%end%>
        </div><!-- /.float -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="content container-fluid">
  <div class="container-fluid">
    <div class="row">
      <% unless @notes.blank? %>
        <%= render @notes %>
      <%else%>
        There is nothing here yet.
      <%end%>
    </div>
  </div>
</div>
