<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">New Note</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><%= link_to 'notes', notes_path %></li>
            <li class="breadcrumb-item active">new</li>
          </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="content container-fluid">
  <div class="container-fluid">

    <%= render 'form', note: @note %>

    <%= link_to 'Back', notes_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>
</div>