<div class="text-center">
  <div>
    <h1>There was a problem with your request.</h1>
    <i class="fa-8x fas fa-exclamation-circle text-danger"></i>
    <h4 class="mt-2">500 Internal Server Error</h4>
    <p class="mt-2">Don't worry, it's not your fault.</p>
  </div>
</div>
