<div class="text-center">
  <div>
    <h1>The page you were looking for doesn't exist.</h1>
    <i class="fa-8x fas fa-exclamation-triangle text-warning"></i>
    <h4 class="mt-2">404 Not Found</h4>
    <p class="mt-2">You may have mistyped the address or the page may have moved.</p>
  </div>
</div>
