<!DOCTYPE html>
<html>
    <head>
        <title>PDFs - RN</title>
        <meta charset="utf-8" />
        <%= wicked_pdf_stylesheet_link_tag "notes" %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>